.card{
	border-radius: 5px;
	margin-bottom: 10px;
	box-shadow: 1px 1px 4px #aaa;
	> header{
		padding:10px 10px;
		border-top-left-radius:5px;
		border-top-right-radius:5px;
		background: #3b3b3b;
		.user-avatar{
			border-radius: 50%;
			height: 50px;
			width: 50px;
			float:left;
		}
		.title{
			float: left;
			margin-left: 10px;
			display: flex;
			justify-content: center;
			flex-direction: column;
			height: 50px;
			>h4,p{
				margin: 0;
			}
			>h4{
				font-size: 16px;
    			text-align: left;
    			color:#3BAFDA;
			}
			>p{
				font-size:10px;
				color:white;
			}	
		}
		
	}
	>p{
		padding: 10px 10px 0;
		font-size:14px;
		// text-overflow: ellipsis;
		height:75px;
		// white-space: nowrap; 
		overflow:hidden;
	}
	>img{
		height: auto;
		width:100%;
		max-width: 100%;
	}
}
